/*(c) David Gruber 2011 */

body {
	font-family: Calibri,Helvetica;
	background-color: #E5E5E5;
}


h1 {
	color: Grey;
	font-family: Calibri
}

grey {
	color: Grey;
	font-family: Calibri
}


.content_pattern_top {
	background-image: url('media/images/pattern.png');
	background-repeat:repeat-y
	margin-top: -15px;
	text-align: right;
	width: 990px;
	height: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: thin solid #918f61;*/
}


.content_header {
	background-image: url('media/images/header.png');
	background-repeat: no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	width: 970px;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*text-align: left;
	padding-right: 20px;
	margin-top: 50px;
	border: thin solid #918f61;*/
}


.content_menu_bar{
	background-image: url('media/images/pattern.png');
	background-repeat:repeat-y;
	width: 1000px;
	height: 85px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*border: thin solid #918f61;
	text-align: left;*/
}


.content_box{
	background-color: Transparent;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 960px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;	
	/*margin-top: 50px;
	border: thin solid #918f61 */	
}


.content_text{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 710px;
	margin-top: 15px;
	float: left;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	margin-right: auto;
	margin-left: 0px;*/				  
}


.content_sidebar{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 15x;
	padding-right: 5px;
	padding-bottom: 10px;
	width: 200px;
	margin-top: 15px;
	float: right;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	margin-right: 5px;
	margin-left: auto;*/				  
}


.content_links {
	text-align: left;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	/* border: thin solid #918f61*/
	/* border: thin solid #918f61 */
}


#menu-icons {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 3px;
	clear: both;
}


	#menu-icons * {
		margin: 5px 4px;
		display: inline-block;
	}

	#menu-icons div[sprite] {
		vertical-align: middle;
		opacity: 0.5;
	}

	#menu-icons div[sprite]:hover {
		opacity: 1;
	}

	
div[sprite] {
	display: inline-block;
}

div[sprite=icon-rules] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: 0 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-info] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -100px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-map] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -200px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-blog] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -300px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-ts3] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -400px 0;
	width: 100px;
	height: 50px;
}


#logos {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	clear: both;
}


	#logos * {
		margin: 2px 0px;
		display: inline-block;
	}

	#logos div[sprite] {
		vertical-align: middle;
		opacity: 0.5;
	}

	#logos div[sprite]:hover {
		opacity: 1;
	}

	
div[sprite] {
	display: inline-block;
}

div[sprite=logo-nginx] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: 0 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-django] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -110px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-python] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -220px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-minecraft] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -330px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-bukkit] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -440px 0;
	width: 110px;
	height: 35px;
}