/*(c) David Gruber 2011 */

body {
	font-family: Calibri,Helvetica;
	background-color: #E5E5E5;
}


h1 {
	color: Grey;
	font-family: Calibri
}


grey {
	color: Grey;
	font-family: Calibri
}


.content_submenu_top {
	background-image: url('media/images/submenu_top.png');
	background-repeat: repeat-x;
	text-align: right;
	width: 1000px;
	height: 35px;
	margin-top: -10px;
	margin-bottom: 0px; 
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 5px 5px #aaa;
	-moz-box-shadow: 0 0 5px 5px #aaa;
	webkit-box-shadow: 0 0 5px 5px #aaa;
}

.content_submenu_left{
	background-color: Transparent;
	color: white;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	width: 100px;
	margin-top: 0;
	float: left;		  
}


.content_submenu_right{
	background-color: Transparent;
	color: white;
	text-align: right;
	padding-top: 0px;
	padding-right: 10px;
	width: 500px;
	margin-top: 0;
	float: right;			  
}


.content_pattern_top {
	background-image: url('media/images/pattern.png');
	background-repeat:repeat-y;
	color: grey;
	text-align: right;
	width: 990px;
	height: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 30px; 
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 5px 5px #aaa;
	-moz-box-shadow: 0 0 5px 5px #aaa;
	webkit-box-shadow: 0 0 5px 5px #aaa;
}


.content_header {
	background-image: url('media/images/header.png');
	background-repeat: no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	width: 970px;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
}


.content_menu_bar{
	background-image: url('media/images/pattern.png');
	background-repeat:repeat-y;
	width: 1000px;
	height: 85px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
}


.content_box{
	background-color: Transparent;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 960px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;	
}


.content_text{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 710px;
	margin-top: 15px;
	float: left;
	border: thin solid #918f61		  
}


.content_sidebar{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 15x;
	padding-right: 5px;
	padding-bottom: 10px;
	width: 200px;
	margin-top: 15px;
	float: right;
	border: thin solid #918f61				  
}


.content_links {
	text-align: left;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
}


.content_blog_box{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1px;
	width: 915px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border: thin solid #918f61;
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;*/
}


.content_blog_text{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 750px;
	margin-top: 15px;
	float: right;
	border: thin solid #918f61;
}


.content_blog_sidebar{
	background-color: #DCDCDC;
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 120px;
	margin-top: 15px;
	float: left;
	border: thin solid #918f61;
	color: darkred;
	font-size: 13px;
}


#menu-icons {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 3px;
	clear: both;
}


	#menu-icons * {
		margin: 5px 4px;
		display: inline-block;
	}

	#menu-icons div[sprite] {
		vertical-align: middle;
		opacity: 0.5;
	}

	#menu-icons div[sprite]:hover {
		opacity: 1;
	}

	
div[sprite] {
	display: inline-block;
}

div[sprite=icon-rules] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: 0 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-info] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -100px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-map] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -200px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-blog] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -300px 0;
	width: 100px;
	height: 50px;
}

div[sprite=icon-ts3] {
	background: url(media/images/icons/icons.png) no-repeat;
	background-position: -400px 0;
	width: 100px;
	height: 50px;
}


#logos {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	clear: both;
}


	#logos * {
		margin: 2px 0px;
		display: inline-block;
	}

	#logos div[sprite] {
		vertical-align: middle;
		opacity: 0.5;
	}

	#logos div[sprite]:hover {
		opacity: 1;
	}

	
div[sprite] {
	display: inline-block;
}

div[sprite=logo-nginx] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: 0 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-django] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -110px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-python] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -220px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-minecraft] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -330px 0;
	width: 110px;
	height: 35px;
}

div[sprite=logo-bukkit] {
	background: url(media/images/icons/logos.png) no-repeat;
	background-position: -440px 0;
	width: 110px;
	height: 35px;
}


#submenu-icons {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 10px;
	clear: both;
}


	#submenu-icons * {
		margin: 2px 5px;
		display: inline-block;
	}

	#submenu-icons div[sprite] {
		vertical-align: middle;
		opacity: 0.5;
	}

	#submenu-icons div[sprite]:hover {
		opacity: 1;
	}

div[sprite=icon-settings] {
	background: url(media/images/icons/submenu-icons.png) no-repeat;
	background-position: -20px 0;
	width: 20px;
	height: 20px;
}


input{
	color: white;
	background-color: #505050;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#797979), to(#505050));
	background-image: -moz-linear-gradient(top,  #797979,  #505050);
	background-image: -o-linear-gradient(top,  #797979,  #505050);
	border-color: #505050;
	outline-style: none;
}


input:hover,
.button:hover {
	color: black;
	background: #c8c8c8;
	border-color: #000;
}


input:active,
.button:active {
	color: black;
	background: #c8c8c8;
	border-color: #000;
}


/*fuck you IE*/	
img {
  border:none;
}
/* end fuck you IE*/	